*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.fContainer {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    width: 1400px;
    height: 80px;
    background-color: black;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 0px;
    text-transform: capitalize;
}

.firstname {
    color: white;
    font-weight: 700;
}

.lastname {
    color: crimson;
    font-weight: 400;
    padding-left: 3px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>li {
    list-style-type: none;
    padding: 15px;
}

.navigation>li>a {
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.navigation>li>a:hover {
    color: crimson;
    transition: all .3s ease-in-out
}

.active {
    background-color: crimson;
    color: white;
    padding: 15px;
}

.navigation>li>img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.container {
    background-color: aqua;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 522px;
    min-width: 370px;
}

.card-container {
    display: flex;
}

.left {
    flex: 1;
    height: 480px;
    background-color: aqua;
}

.right {
    display: flex;
    flex: 1;
    height: 500px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex: 1;
    height: 520px;
    justify-content: center;
    align-items: center;
}

.left h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: initial;
}

.left-container {
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px;
}

.right-container {
    width: 70%;
    height: 80%;
    text-align: center;
}

input,
textarea {
    background-color: white;
    padding: 15px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
}

input:focus,
textarea:focus {
    outline: 1px solid aqua;
}

button {
    border-radius: 15px;
    border: 1px solid aqua;
    background-color: aqua;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
}

button:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    .left {
        display: none;
    }
}