*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.fContainer {
    z-index: 1;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    width: 1400px;
    height: 70px;
    background-color: black;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 0px;
    text-transform: capitalize;
}

.firstname {
    color: white;
    font-weight: 700;
}

.lastname {
    color: crimson;
    font-weight: 400;
    padding-left: 3px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>li {
    list-style-type: none;
    padding: 10px;
}

.navigation>li>a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.navigation>li>a:hover {
    color: crimson;
    transition: all .3s ease-in-out
}

.active {
    background-color: crimson;
    color: white;
    padding: 15px;
}

.navigation>li>img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .5s;
}

.menu li a:hover {
    color: red;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .menu li {
        margin: 10px 0;
    }
}

.sidebar li a {
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    color: white;
    padding-left: 30px;
    text-decoration: none;
    transition: .5s;
}

.sidebar li a:hover {
    padding-left: 40px;
    color: gold;
}

.sidebar li {
    list-style: none;
}

.sidebar {
    z-index: 1;
    position: fixed;
    right: -255px;
    width: 250px;
    height: 100%;
    background-color: black;
    transition: all .5s ease;
}

.sidebar-header {
    border-bottom: 1px gray solid;
    font-weight: bold;
    color: gold;
    text-align: center;
    font-size: 30px;
    line-height: 90px;
    background-color: black;
}

.sidebar-under {
    font-weight: bold;
    color: gold;
    padding-left: 30px;
    padding-top: 50px;
}

@media (min-width: 769px) {
    label {
        display: none;
    }
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

label #btn {
    z-index: 1;
    right: 40px;
    top: 20px;
    font-size: 35px;
    color: red;
    padding: 6px 12px;
    transition: all .5s ease;
}

label #cancel {
    position: fixed;
    z-index: 1111;
    right: -195px;
    top: 115px;
    font-size: 30px;
    color: red;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    right: 0;
}

#check:checked~label #btn {
    right: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    right: 195px;
}

section {
    padding: 50px 0;
}

.banner>h2 {
    color: white;
    padding: 20px 25px;
    border: 3px solid;
}

.list-header h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: inherit;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.list-student ul {
    position: relative;
    width: 320px;
    margin: 0px auto 0;
    padding: 0px;
    box-sizing: border-box;
}

.list-student li {
    display: flex;
    background: lightgray;
    padding: 10px 10px;
    color: black;
    margin: 5px 0;
    transition: .5s;
}

.list-student a {
    color: black;
}

.list-student li:nth-child(1) {
    background: gold;
}

.list-student li span:nth-child(1) {
    width: 30px;
}

.list-student li span:nth-child(2) {
    width: 200px;
}

.list-student li span:nth-child(3) {
    width: 175px;
}

.list-student li:hover {
    transform: scale(1.05);
    background: gold;
}

.other-header h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-style: initial;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.other-items-1 {
    position: relative;
    width: 320px;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

.other-items-1 h3 {
    text-decoration: underline;
}

.other-items-1 ul {
    display: flex;
    list-style: none;
    background: lightgray;
    padding: 10px 10px;
    color: black;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.list-about ul {
    padding: 5px;
    font-size: 15px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.list-about i {
    color: green;
}

.list-name ul {
    font-size: 15px;
    border: 3px solid green;
    list-style-type: none;
}

.denah {
    position: relative;
}

.denah h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-style: initial;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.denah img {
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    height: 250px;
}

footer {
    color: white;
    text-align: center;
    padding: 18px 0;
    background-color: black;
}

footer a {
    justify-items: normal;
    color: red;
    border: 2px 2px 2px solid white;
    display: block;
}