    *,
    html,
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    
    .fContainer {
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        padding: 10px;
        width: 1400px;
        height: 70px;
        background-color: black;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
    }
    
    .brand {
        display: flex;
        flex-direction: row;
        font-size: 25px;
        padding: 0px;
        text-transform: capitalize;
    }
    
    .firstname {
        color: white;
        font-weight: 700;
    }
    
    .lastname {
        color: crimson;
        font-weight: 400;
        padding-left: 3px;
    }
    
    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navigation>li {
        list-style-type: none;
        padding: 10px;
    }
    
    .navigation>li>a {
        color: white;
        font-size: 30px;
        text-decoration: none;
    }
    
    .navigation>li>a:hover {
        color: crimson;
        transition: all .3s ease-in-out
    }
    
    .active {
        background-color: crimson;
        color: white;
        padding: 15px;
    }
    
    .navigation>li>img {
        width: 50px;
        height: 50px;
        border-radius: 100px;
    }
    
    .sidebar li a {
        height: 100%;
        width: 100%;
        line-height: 60px;
        font-size: 20px;
        color: white;
        padding-left: 30px;
        text-decoration: none;
        transition: .5s;
    }
    
    .sidebar li a:hover {
        padding-left: 40px;
        color: gold;
    }
    
    .sidebar li {
        list-style: none;
    }
    
    .sidebar {
        z-index: 1;
        position: fixed;
        right: -255px;
        width: 250px;
        height: 100%;
        background-color: black;
        transition: all .5s ease;
    }
    
    .sidebar-header {
        border-bottom: 1px gray solid;
        font-weight: bold;
        color: gold;
        text-align: center;
        font-size: 30px;
        line-height: 90px;
        background-color: black;
    }
    
    .sidebar-under {
        font-weight: bold;
        color: gold;
        padding-left: 30px;
        padding-top: 50px;
    }
    
    .countdown-wrapper {
        border-radius: 15px;
        margin: 20px;
        padding: 10px;
        text-align: center;
        justify-content: center;
        background: #ffeb3b;
    }
    
    .countdown-wrapper p {
        font-size: 25px;
        font-weight: bold;
    }
    
    #countdown {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    
    #check {
        display: none;
    }
    
    label #btn,
    label #cancel {
        position: absolute;
        cursor: pointer;
        border-radius: 3px;
    }
    
    label #btn {
        z-index: 1;
        right: 40px;
        top: 20px;
        font-size: 35px;
        color: red;
        padding: 6px 12px;
        transition: all .5s ease;
    }
    
    label #cancel {
        position: fixed;
        z-index: 1111;
        right: -195px;
        top: 115px;
        font-size: 30px;
        color: red;
        padding: 4px 9px;
        transition: all .5s ease;
    }
    
    #check:checked~.sidebar {
        right: 0;
    }
    
    #check:checked~label #btn {
        right: 250px;
        opacity: 0;
        pointer-events: none;
    }
    
    #check:checked~label #cancel {
        right: 195px;
    }
    
    .clock-wrapper {
        justify-content: center;
        text-align: center;
        background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
        font-weight: bold;
        border-radius: 10px;
        animation: clock 1.5s linear infinite;
    }
    
    .display {
        margin: 10px;
    }
    
    #clock {
        font-size: 30px;
        background: black;
        font-weight: bold;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    @keyframes clock {
        100% {
            filter: hue-rotate(360deg);
        }
    }
    
    .banner {
        background-image: url(Gallery/banner3.jfif);
        height: 40vh;
        padding-top: 0px;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .banner::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    section {
        padding: 50px 0;
    }
    
    .banner>h2 {
        color: white;
        font-weight: bold;
        padding: 20px 25px;
        border: 5px solid;
    }
    
    section h3 {
        text-align: center;
        padding: 10px;
        font-family: initial;
        color: red;
    }
    
    .slider {
        width: 85vmin;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border: 5px solid;
        border-radius: 5px;
        box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
    }
    
    .wrapper-slider {
        width: 100%;
        display: flex;
        animation: slide 15s infinite;
    }
    
    @keyframes slide {
        0% {
            transform: translate(0);
        }
        25% {
            transform: translate(0);
        }
        30% {
            transform: translate(-100%);
        }
        50% {
            transform: translate(-100%);
        }
        55% {
            transform: translate(-200%);
        }
        75% {
            transform: translate(-200%);
        }
        80% {
            transform: translate(%);
        }
    }
    
    .wrapper-slider img {
        width: 100%;
    }
    
    .about p {
        color: gray;
        display: flex;
        text-align: center;
    }
    
    .about h4 {
        padding-top: 5%;
        text-align: center;
        font-family: initial;
    }
    
    .about ul {
        background-color: lightcyan;
        list-style-type: none;
        font-size: 15px;
        text-align: center;
        border: 2px solid;
        border-radius: 2px;
    }
    
    footer {
        color: white;
        text-align: center;
        padding: 5px 0;
        background-color: black;
    }
    
    footer a {
        color: white;
        display: inline-block;
        justify-content: space-evenly;
        padding: 2px;
    }
    
    .contents h3 {
        border-top: 2px solid;
        border-bottom: 2px solid;
        color: black;
        font-style: initial;
        text-align: center;
        text-overflow: initial;
    }
    
    .list-about ul {
        padding: 5px;
        font-size: 15px;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }
    
    .list-about i {
        color: green;
    }
    
    .list-name ul {
        font-size: 15px;
        border: 3px solid green;
        list-style-type: none;
    }
    
    .wrapper-personal {
        padding: 2% 10%;
        padding-bottom: 50px;
        text-transform: capitalize;
        font-family: initial;
    }
    
    .personal-content {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
    
    .box {
        height: 250px;
        padding: 0px;
        text-align: center;
        border-radius: 5px;
        background: black;
        box-shadow: 0px 5px 10px rgba(250, 250, 250, 0.1);
    }
    
    .box h3 {
        color: white;
        font-style: initial;
        padding: 7px;
        font-size: 25px;
    }
    
    .box img {
        height: 100px;
    }
    
    .box h4 {
        color: white;
        font-size: 17px;
        line-height: 1.5;
    }
    
    .box a {
        color: white;
        font-style: initial;
        margin-top: 0px;
        padding: 3px;
        background-color: black;
        border: 2px solid white;
        border-radius: 7px;
        font-size: 15px;
    }
    
    @media (max-width:770px) {
        .wrapper-personal {
            padding: 20px;
        }
    }
    
    .center {
        position: relative;
        text-align: center;
    }
    
    .slider-header h2 {
        padding-top: 10px;
        text-align: center;
        font-weight: bold;
        font-family: initial;
    }
    
    .slide-help {
        color: black;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    
    .slide {
        overflow: hidden;
        height: 50px;
    }
    
    .slide div div {
        display: inline-block;
        color: black;
        padding: 4px 12px;
        border-radius: 2px;
        margin-bottom: 40px;
    }
    
    .slide div:nth-child(1) div {
        background-color: pink;
    }
    
    .slide div:nth-child(2) div {
        background-color: lightgreen;
    }
    
    .slide div:nth-child(3) div {
        background-color: lightblue;
    }
    
    .slide div:nth-child(1) {
        animation: animate 10s linear infinite;
    }
    
    @keyframes animate {
        0% {
            margin-top: -270px;
        }
        5% {
            margin-top: -200px;
        }
        6% {
            margin-top: -200px;
        }
        10% {
            margin-top: -135px;
        }
        30% {
            margin-top: -135px;
        }
        35% {
            margin-top: -60px;
        }
        75% {
            margin-top: -60px;
        }
        80% {
            margin-top: 0px;
        }
        99.99% {
            margin-top: 0px;
        }
        100% {
            margin-top: -270px;
        }
    }